.header {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #C3C5CA;
    padding: 14px 0px;
}

.header-container-info{
    padding: 0px 20px;
}

.header-container-info-a, .header-container-tel{
    font-size: 14px;
    padding: 15px 10px;
    color: #0c1f6e;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}


.header-container-info-a:hover , .header-container-tel:hover {
    background-color: #e66022;
    color: #ffffff;
}

.header-search {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 25px;
}

.header-search-kelly {
    width: 200px;
}

.header-search-container{
    position: relative;
    width: 320px;
}

.header-search-container-input {
    width: 100%;
    border-radius: 25px;
    padding: 14px 15px;
    border: 1px solid #b6b6b6;
}

.header-search-container-input:active {
    
    outline: none;
}

.header-search-container-input:focus {
    
    outline: none;
}

.header-search-container-icon {
    position: absolute;
    right: 20px;
    top: 12px;
    cursor: pointer;
    font-size: 20px;
    transition: 0.4s;
}

.header-search-container-icon:hover {
    color: #e66022;
    font-weight: 700;
}

.header-nav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 35px;
}

.header-nav-ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    list-style: none;
}

.header-nav-ul-li {
    padding: 0px 15px;

}

.header-nav-ul-li-link {
    text-decoration: none;
    padding: 0px 20px;
    color: #0c1f6e;
    font-weight: 700;
    transition: 0.3s;
}

.header-nav-ul-li-link-active {
    text-decoration: none;
    padding: 0px 20px;
    color: #e66022;
    font-weight: 700;
    transition: 0.3s;
}

.header-nav-ul-li-link:hover {
    color: #e66022;
}