.slide-in {
    animation: slide-in 1.5s ease forwards;
    white-space: nowrap;
    overflow: hidden;
}

.slide-in h1{
    text-shadow: 1px 1px 1px #949494;
}
  
  @keyframes slide-in {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  .slide-in {
    position: relative;
    animation: slide-in 1.5s ease forwards;
    white-space: nowrap;
    overflow: hidden;
}

.slide-in h1{
    text-shadow: 1px 1px 1px #949494;
}
  
  @keyframes slide-in {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

.used {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    overflow: hidden;
}

.used-banner {
    width: 100%;
    position: relative;
}

.used-banner img {
    width: 100%;
    margin-bottom: 50px;
    min-height: 200px;
}

.used-banner div {
    position: absolute;
    top: 20%;
    left: 10%;
    height: 100%;
}

.used-banner div h1 {
    margin-bottom: 35px;
    color: #fff;
    font-size: 60px;
}

.used-banner-div-link {
    background-color: #004994;
    color: #fff;
    padding: 14px;
    border-radius: 4px;
    text-decoration: none;
    transition: 0.4s;
}

.used-banner-div-link:hover {
    background-color: #002549;
}
